.gallery-page {
  
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.saved-fishes-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 16px;
}



.saved-fish-container {
  --padding: 8px;
  --gap: 16px;
  --border-width: 0px;
  --width: calc(calc(100svw - calc(2 * var(--horizontal-padding)) - calc(var(--gap) * 1)) / 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding);
  width: var(--width);
  gap: 8px;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
  background-color: white;
  position: relative;

  &.liked {

    &::after {
      content: '❤︎';
      position: absolute;
      top: calc(var(--width) - calc(var(--padding) * 4) - 2px);
      right: 16px;
      color: var(--color--bg-default);
      font-size: 22px;
      line-height: 22px;
    }
  }

  .fish-id {
    font-weight: 700;
  }

  .fish-name {
    --name-width: calc(var(--width) - calc(2 * var(--padding)));
    --name-height: calc(var(--name-width) / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--name-width);
    height: var(--name-height);
  }

  .fish-info {
    font-size: 14px;
  }
  .fish-creator {
    font-weight: 700;
  }
}

.pop-up-container > .pop-up.fish-pop-up {
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
  position: relative;

  .buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .fish-id {
    font-weight: 700;
  }

  .fish-creator {
    font-weight: 700;
  }

  .close-button {
    position: absolute;
    top: calc(-38px - 16px);
    right: 0;
    filter: invert(1);
  }

  #likeButton {
    position: absolute;
    top: calc(100svw - calc(2*var(--horizontal-padding)) - 16px - 42px );
    right: 16px;
    outline: none;

    &.inverted {
      filter: invert(1);
    }
  }
}

