.page-container.import-page {
  align-items: center;

  .page-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(calc(100svh - var(--height--header) - var(--height--tab-bar)) / 2);
    gap: 8px;

    .title {
      font-size: 18px;
      font-weight: 700;
    }

    .fish-block {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 8px;

      .fish-img-container {
        width: auto;
        min-width: 117px; width: 117px;
        height: 117px;
        aspect-ratio: 1/1;
      }

      .fish-info-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;

        .fish-id-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 4px;

          .input-container {
            border: 2px solid var(--color--bg-default);
            padding-left: 4px;
            /* border-radius: 8px; */
      
            &.error {
              border-color: var(--color--error);
            }
            &.success {
              border-color: var(--color--success);
            }
      
            input[type="text"] {
              font-family: 'consolas';
              width: 132px;
              outline: none;
            }
          }
        }
    
        .error-message {
          font-size: 14px;
          color: var(--color--error);
        }
      }
    }

    .tips {
      color: var(--color--error);
    }


    #exportButtonContainer {
      width: 100%;
      height: 37px;
      /* background-color: yellow; */
    }

    .lzr-button {
      width: 100%;
    }
  }

}